body{
    background:linear-gradient(#f7dde3, #ffb9ca, #f798ae);
}

img{
    width:40%;
    align-self: center;
    border: 3px solid #ed135c;
    box-shadow: 5px #f798ae;
}
header nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 1rem 0;
}

header nav li {
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: larger;
}

header nav li:hover {
  color: #ed135c;
}
#wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}
h1{
    text-align: center;
    text-decoration: wavy;
}
main{
    text-align: center;
    padding-bottom: 20%;
}
p{
    padding-left: 5%;
    padding-right: 5%;
    font-size: larger;
}




