@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Rock+Salt&family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Rock+Salt&family=RocknRoll+One&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#logo_link {
    padding-top: 5px;
}

body {
    background-color: aliceblue; 
    font-family: "RocknRoll One", Helvetica, sans-serif;
    font-size: 22px;
    margin:0;
    padding:0;
}
header {
    background-color:#3A6EA5;
}
nav a:hover {
    background-color: #4276ac;
    color: #d9c2a3;
}

nav a {
    text-align: center;
    background-color: #3A6EA5;
    color: whitesmoke;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.home-title {
    margin-top: 10px;
    color: black;
    font-family:'Rock salt', Helvetica, sans-serif;
    font-size: 2em;
}

h4 {
    color: darkblue;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color:#E7C24F;
}

.book,.join {
    padding: 15px 30px;
    background-color: #faa76f;
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
     background-color: #3A6EA5;
    color: whitesmoke;
}
.msg {
    background-color: #3A6EA5;
    line-height: 1.5em;
    padding: 35px
}
.msg h2 {
    font-family:'Rock salt', Helvetica, sans-serif;
    color:black;
}
.msg p {
    color: whitesmoke;
    font-size:.8em ;
    padding-bottom: 15px;
}
footer {
    background-color: #3A6EA5;
    color:whitesmoke;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    background-color:#3A6EA5;
    color: whitesmoke;
    text-decoration: none;
}
footer a:hover {
    color: black;
    background-color: #4276ac;
}
.icon { 
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p a:hover {
    text-decoration: underline;
}    
h2 {
    margin:0;
}
footer .social img {
    padding-top: 15px;
}
.card-img {
    border:10px solid #ff944c;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
main section img {
    box-sizing: border-box;
}