@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Rock+Salt&family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Rock+Salt&family=RocknRoll+One&display=swap');

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display:flex;
    justify-content: space-around;
}
body {
    background-color: aliceblue; 
    font-family: "RocknRoll One", Helvetica, sans-serif;
    font-size: 22px;
    margin:0;
    padding:0;
}
header {
    background-color:#3A6EA5;
    display: grid;
    grid-template-columns: auto auto;
}
nav a:hover {
    background-color: #4276ac;
    color: #d9c2a3;
}

nav a {
    text-align: center;
    background-color: #3A6EA5;
    color: whitesmoke;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1 {
    text-align: center;
    justify-self: center;
}

#hero-msg h4 {
    text-align: center;
}

.home-title {
    margin-top: 10px;
    color: black;
    font-family:'Rock salt', Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
}
h4 {
    color: darkblue;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color:#E7C24F;
    grid-column: 1/11;
    grid-row: 4/9;
}

.book,.join {
    padding: 15px 30px;
    background-color: #faa76f;
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
     background-color: #3A6EA5;
    color: whitesmoke;
}
.msg {
    background-color: #3A6EA5;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    font-family:'Rock salt', Helvetica, sans-serif;
    color:black;
}
.msg p {
    color: whitesmoke;
    font-size:.8em ;
    padding-bottom: 15px;
}
footer {
    background-color: #3A6EA5;
    color:whitesmoke;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    background-color:#3A6EA5;
    color: whitesmoke;
    text-decoration: none;
}
footer a:hover {
    color: black;
    background-color: #4276ac;
}
.icon { 
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
footer p a:hover {
    text-decoration: underline;
}    
h2 {
    margin:0;
}
footer .social img {
    padding-top: 15px;
}
.card-img {
    border:10px solid #ff944c;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
        width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
    margin: 200px 0;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
    margin: 200px 0;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
    margin: 200px 0;
}
main section img {
    box-sizing: border-box;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}